<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!--        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>-->
<!--        <property name="connection.url">jdbc:mysql://127.0.0.1:50426/localdb</property>-->
<!--        <property name="connection.username">azure</property>-->
<!--        <property name="connection.password">6#vWHD_$</property>-->
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/mybank</property>
        <property name="connection.username">root</property>
        <property name="connection.password">8572008222</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <mapping class="com.project.entities.Users"/>
        <mapping class="com.project.entities.Transact"/>
        <mapping class="com.project.entities.BranchDetails"/>
        <mapping class="com.project.entities.UserCredentials"/>
        <mapping class="com.project.entities.FDAccount"/>
        <mapping class="com.project.entities.RDAccount"/>
        <mapping class="com.project.entities.Payee"/>
        <mapping class="com.project.entities.Stocks"/>
        <mapping class="com.project.entities.profitLoss"/>
    </session-factory>
</hibernate-configuration>